﻿@*@model  Tuple<sporMerkezi1.Models.UyeKayit, sporMerkezi1.Models.Ders>*@
@model IEnumerable<sporMerkezi1.Models.Ders >

    @{
        ViewBag.Title = "kListe";
        Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    }

    <div id="page-wrapper">
        <div class="row" style="background-color:#ffffff">
              <div class="col-lg-12">
                <h2 class="page-header" style="color:#31708f">
                    Grup Derslerine Katılım Listesi
                </h2>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
               <thead>
                   <tr>
                       <th>Adı Soyadı</th>
                       <th>Ders Tarihi</th>
                       <th>Ders Saati</th>
                       <th>Ders Adı</th>
                   </tr>
               </thead>
                <tbody>
                   
                    @foreach (var item in Model)
                {
                        <tr>
                             <td>
                                   @*@item.UyeKayit.AdSoyad*@
                              </td>

                              <td>
                                @item.DersTarihi.ToString("dd/MM/yyyy")
                            </td>
                            <td>

                                @item.DersSaati.ToString(" HH:mm") 
                            </td>
                            <td>
                                @item.DersAdi
                            </td>
                        </tr>
                    }
                    </tbody>
                  </table>


        </div>

                <div class="row">
                    <div class="col-lg-1">
                        <div class="panel panel-default">
                        </div>
                    </div>
                </div>



        </div>