﻿@model IEnumerable<sporMerkezi1.Areas.Admin.Models.Yorum>
@{
    Layout = null;
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#31708f;color:#ffffff">
            <h4><i class="fa fa-fw fa-gift"></i> Üye Görüşleri  </h4>
        </div>
        <div class="panel-body">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @*<h5><b> @item.UyeKayit.KullaniciAdi</b></h5>*@
                    <p>@item.Tarih.ToString("dd/MM/yyyy")</p>
                    <p>@item.Ekle</p>
                </li>
            }
        </ul>
        </div>
    </div>
</div>