﻿@{
    ViewBag.Title = "About";
}


<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Tesisimiz
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Anasayfa</a>
                </li>
                <li class="active">Tesisimiz</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/image/spor merkezi1.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h2>Dreamlife Spor Merkezi</h2>
            <p>Günün yorgunluğunu atarken forma kavuşun… Dreamlife Spor Merkezi, yüzme havuzu, saunası, buhar banyosu ve fitness salonuyla size sağlıklı bir yaşam sunar.</p>
            <p>Dreamlife Spor Merkezi’nin yüzme havuzu, sauna ve buhar banyosu, fitness salonu, tuz odası gibi hizmetlerinden çeşitli üye programlarına dahil olarak faydalanabileceğiniz gibi, tek kullanımlık giriş hakkı alarak da hizmetlerimizden özgürce ve keyifle faydalanabilirsiniz. Dreamlife Spor Merkezine üye olduğunuzda, üyelerimize yönelik uygulanan ücretsiz grup derslerine katılmayı lütfen unutmayınız.</p>
            <h3>YARI OLİMPİK YÜZME HAVUZU</h3>
            <p>Dreamlife Sports Center,”Sizin sağlığınız bizim mutluluğumuzdur” ilkesiyle gelişmiş ülkelerin su dezenfeksiyonunda kullandıkları ATG-UV (Ultraviyole) sistemini kendi havuzunda devreye alarak ülkemizde bir ilke imza atmıştır. Yarı Olimpik Yüzme Havuzumuz, 25 metre uzunluğa ve 13 metre genişliğe sahip olup, derinlik ölçüleri ise 1,35 x 1,85 x 2,35 metre’dir. Uluslar arası standartlara uygun olarak, kışın havuz suyu sıcaklığı 28-29 derece, havuz ortamı 29-30 derecedir.</p>
            </div>
        <div class="col-md-12">
            <h3>FİTNESS SALONU</h3>
            <p>Dreamlife Sports Center’da sağlıklı kalmak ve formunuzu korumak için harekete geçin… Artık, “Life Fitness Circuit Serisi” ekipmanlarıyla tüm kas gruplarınızı çalıştırabileceğiniz yepyeni ve farklı bir egzersiz programı ile de hizmet veriyoruz.</p>
            <h3>SAUNA & BUHAR ODASI</h3>
            <p>Sauna, vücut direncine ve sağlığına olan yararları tıp tarafından kanıtlanmış bir dinlenme ve rahatlama ortamıdır. Düzenli sauna kullanımı, enerjik ve sağlıklı kalmak için de mükemmel bir yoldur. Buhar banyosu, konforlu ve sağlıklı rahatlama ortamını size sunarken vücudunuzun gözeneklerini açarak cildinizi yumuşak ve pürüzsüz hale getirir.</p>
            <h3>TUZ ODASI</h3>
            <p>
                Tuz Terapisi, doğal tuz madenlerinin mikro kliması sağlanan bir ortamda, solunum yolu ile alınan terapi yöntemidir. Tuz Terapisi; yer, tavan ve duvarların doğal tuzlarla kaplı olduğu Tuz Odasında gerçekleşir. Havaya çok ince öğütülmüş Tuz zerrecikleri püskürtülerek mikrop ve alerjenlerin olmadığı steril, rahatlatıcı ve negatif iyonlu bir ortam sağlanır.

             <p>  Tuz Odası’nın bilinen başlıca faydaları: </p>
             
                <li>Sık görülen viral enefksiyonlarda, öksürük ve soğuk algınlığında </li>
                <li>Astım, Bronşit, sinüzit, kronik kulak, burun, boğaz hastalıklarında </li>
                <li> Alerjik soğuk algınlığında</li>
                <li>Alerji kaynaklı cilt sorunlarında</li>
                <li> Bağışıklık sistemini güçlenmesinde </li>
                <li>Uykusuzluk, eklem ağrıları ve artritte yan tedavi yöntemi olarak pek çok faydalı etkileri bulunmaktadır.</li>
            </p>
        </div>
    </div>
   