﻿@{
    ViewBag.Title = "Home Page";
}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('/Content/image/Slide-Havuz_1920x714.jpg');"></div>
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('/Content/image/slide2.jpg');"> </div>
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('/Content/image/slide3.jpg');"></div>
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Haberler
            </h2>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#31708f;color:#ffffff">
                    <h4><i class="fa fa-fw fa-check"></i>Kontör Üyeliğinin Farkı Nedir? </h4>
                </div>
                <div class="panel-body">
                    <p>
                        Kontörlü üyelik programında sadece gün belli seans saatlerine bölünmüştür. Bu seans saatleri içerisinde dilediğiniz kadar merkezimizde vakit geçirebilirsiniz.
                        Kontörlü üyelik sistemimizde alınan kontörler 12 ay boyunca geçerlidir. Bu süre sonunda harcanmayan kontörler iptal edilecektir.
                        <br />
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#31708f;color:#ffffff">
                    <h4><i class="fa fa-fw fa-gift"></i> Dreamlife Saat Üyeliği Nedir? </h4>
                </div>
                <div class="panel-body">
                    <p>Spor merkezimiz müşterilerine, bütçelerine uygun olarak tercih edebilecekleri çok çeşitli üyelik seçenekleri sunmaktadır. Bu seçenekler arasında tek girişlik üyelik kartı, saat üyeliği, kontör üyeliği ve sınırsız üyelik bulunmaktadır.Buna göre içeride kısa süreli kalmanız halinde saat üyeliği, daha ekonomik bir tercih olacaktır.</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#31708f;color:#ffffff">
                    <h4><i class="fa fa-fw fa-compass"></i>Dreamlife da Bu Yaz Yüzmeye Doyacaksınız</h4>
                </div>
                <div class="panel-body">
                    <p>Yüzme, insan vücudunda tüm kas ve iskelet sistemini çalıştıran tek spordur. Yüzme düzenli yapıldığında, kilo vermeye, kas, bağ ve iskelet sistemini düzeltmeye, bel ve boyun fıtıklarının iyileştirmeye, en önemlisi ise kalp ve dolaşım sistemine yardımcı bir spor dalıdır.</p>

                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="color:#31708f">Fotoğraflar</h2>
            </div>
            <div class="col-md-4 col-sm-6">

                <img class="img-responsive img-portfolio img-hover" src="/Content/image/Yüzme-Havuzu2-700x380.jpg" style="height:300px; width:700px" alt="">

            </div>
            <div class="col-md-4 col-sm-6">

                <img class="img-responsive img-portfolio img-hover" src="~/Content/image/fitnes4-760x380.jpg" style="height:300px; width:700px" alt="">
            </div>
            <div class="col-md-4 col-sm-6">

                <img class="img-responsive img-portfolio img-hover" src="~/Content/image/Fitnes8-562x380.jpg" style="height:300px; width:700px" alt="">

            </div>
            <div class="col-md-4 col-sm-6">

                <img class="img-responsive img-portfolio img-hover" src="~/Content/image/Buhar_Odasi-500x380.jpg" style="height:300px; width:700px" alt="">

            </div>
            <div class="col-md-4 col-sm-6">

                <img class="img-responsive img-portfolio img-hover" src="~/Content/image/Sauna4-700x380.jpg" style="height:300px; width:700px" alt="">

            </div>
            <div class="col-md-4 col-sm-6">

                <img class="img-responsive img-portfolio img-hover" src="~/Content/image/genel6-700x380.jpg" style="height:300px; width:700px" alt="">

            </div>        
        </div>
       </div>
    </div>
        @{Html.RenderAction("_Yorum", "Home");} 