﻿@model sporMerkezi1.Models.UyeKayit

@{
    ViewBag.Title = "Onay";
}
    <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="color:#31708f">
                <b>Kayıtınız başarı ile tamamlanmıştır , @Model.AdSoyad</b>
            </h3>

        </div>
    </div>
</div>
