﻿@model sporMerkezi1.Models.Giris

@{
    Layout = null;
}
<center>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <h1 class="page-header" style="color:#31708f">
                    <b>
                        Dreamlife Spor Merkezi <br />
                        Üye Girişi
                    </b>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("uyeGiris", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" style="color:#31708f">
                           <p><b> Kullanıcı Adı </b></p> @*@Html.LabelFor(m => m.KullaniciAdi, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.KullaniciAdi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="color:#31708f">
                            <p><b>Şifre</b></p>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Sifre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Sifre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>*@
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Giriş" class="btn btn-default" style="background-color:#31708f;color:#ffffff" />
                            </div>
                        </div>
                        <br />
                        <p style="color:#31708f">
                            @Html.ActionLink("Yeni bir üye olarak Kayıt ol.", "uyeKayit")
                        </p>

                }
            </section>
            </div>
                @*<div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
        </div>*@

    </div>
</center>
















            @*<center>
                    <div class="container">
                         Page Heading/Breadcrumbs
                        <div class="row">
                            <div class="col-lg-12">


                                        <h1 class="page-header" style="color:#31708f">
                                            <b>
                                                Dreamlife Spor Merkezi <br />
                                                Üye Girişi
                                            </b>
                                         </h1>
                            </div>
                        </div>
                        <div class=" col-md-12">
                            @using (Html.BeginForm())
                            {
                                <p style="color:#31708f"><b> Kullanıcı Adı : @Html.TextBoxFor(x => x.KullaniciAdi)</b></p>
                                <p style="color:#31708f"><b> Şifre         : @Html.TextBoxFor(x => x.Sifre)</b></p>

                                <input type="submit" value="Giriş" style="background-color:#31708f;color:#ffffff" />

                            }
                        </div>
                    </div>
                </center>*@
