﻿@model sporMerkezi1.Models.UyeKayit

@{
    ViewBag.Title = "uyeKayit";
}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Kayıt Formu
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Anasayfa</a>
                </li>
                <li class="active"> Üye Kayıt </li>
            </ol>
        </div>
    </div>
    </div>

    @using (Html.BeginForm("uyeKayit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="form-group" style="color:#31708f">
             @Html.LabelFor(m => m.AdSoyad, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
            @Html.LabelFor(m => m.TcNo, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.TcNo, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
             @Html.LabelFor(m => m.DogumTarihi, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DogumTarihi, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
             @Html.LabelFor(m => m.Telefon, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
             @Html.LabelFor(m => m.EPosta, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EPosta, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
              @Html.LabelFor(m => m.KullaniciAdi, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
            @Html.LabelFor(m => m.Sifre, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Sifre, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
             @Html.LabelFor(m => m.YeniSifre, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.YeniSifre, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="color:#31708f">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Gönder" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
    }
