﻿
@{
    ViewBag.Title = "Uyelikler";
}


<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Üyelikler
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Anasayfa</a>
                </li>
                <li class="active">Üyelikler</li>
            </ol>
        </div>
    </div>
    <div class=" col-md-12">
        <h3>Sınırsız Üyelik</h3>
        <p>Sınırsız üyeliklerde bütün programlara herhangi bir saat ya da seans sınırı olmaksızın katılabilirsiniz. Eğer kendinizi yoğun bir spor programına sokmayı düşünüyorsanız ve tesisimizdeki bütün aktivitelerden saat ve seans sınırı olmadan sınırsız ve özgürce faydalanmak istiyorsanız, sınırsız üyelikler tam size göredir.Sınırsız üyeliklerde , 1 yıl veya 2 yıl gibi değişik miktarlarda üyelik satın alabilirsiniz.Sınırsız üyeliklerde , 1 yıl veya 2 yıl gibi değişik miktarlarda üyelik satın alabilirsiniz. </p>
        <h3>Kontör Üyeliği</h3>
        <p>Kontör üyeliklerinde hesabınıza 25-50 kontör yüklenir. Her kontör, bir giriş hakkı demektir. Spor merkezimize almış olduğunuz kontör miktarı kadar giriş yapabilirsiniz. Eğer geldiğiniz gün içerisinde sınırsız olarak spor yapmak istiyorsanız kontör üyeliğini tercih edebilirsiniz. Alınmış kontörlerin 12 aylık kullanım süreleri vardır. Bu süre sonunda üyelik hesapları kullanılsa da kullanılmasa da tamamen sona erer, dilerseniz yeni bir üyelik alarak üyeliğinizi yenileyebilirsiniz.</p>
        <h3>Saat Üyeliği</h3>
        <p>Üyelik hesabınıza 50-100 saat yüklenir. Siz kullandıkça hesabınızdaki saatler kullandığınız süre kadar eksilir. Örneğin; 50 saat satın aldıysanız ve 2 saat boyunca tesisi kullanırsanız hesabınızda 48 saatlik kullanım hakkı kalır. Eğer geldiğinizde uzun süre spor yapmaya vakit ayıramam diyorsanız saat üyeliği size uygun olabilir. Alınmış saatlerin 12 aylık kullanım süreleri vardır. Bu süre sonunda üyelik hesapları kullanılsa da kullanılmasa da tamamen sona erer, dilerseniz yeni bir üyelik alarak üyeliğinizi yenileyebilirsiniz.</p>
        <br /> <br />
    </div>
</div>