﻿@model sporMerkezi1.Models.UyeKayit
@{
    ViewBag.Title = "admindex";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper" >
    <div class="container-fluid">
        <!-- Page Heading -->
        
                <h1 class="page-header" style="color:#483D8B">
                   Hoşgeldiniz Admin Paneline
                </h1>
               
                    <h2 class="page-header" style="color:#7B68EE">
                        Grup Dersleri
                    </h2>          
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> SPINNING  &nbsp; &nbsp; Süre:50 dk</h4>
            </div>
            <div class="panel-body">
                <p>Yoğun bir tempo ile müzik eşliğinde yapılan bisiklet tekniklerinin öğretildiği hem eğlenceli hem yağ yakımına yönelik dayanıklılığı ve performansı en üst sınırlara ulaştıran bir çalışmadır. Kardiyovasküler kapasiteyi artırır ve hızlı bir yağ yakımı sağlar.</p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-gift"></i> ZUMBA  &nbsp; &nbsp; Süre:50 dk</h4>
            </div>
            <div class="panel-body">
                <p>Latin esintili bir dans fitness programı olup dünya çapındaki en yaygın dans fitness programıdır. Dans ve aerobik figürlerini içerir. Kondisyonunuzun artmasını sağlar. Fazla kilolarınızdan kurtararak kilo dengenizi korumanıza yardımcı olur.</p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading" style="color:#ffffff">
                <h4><i class="fa fa-fw fa-compass"></i>ABS&STRECH &nbsp;&nbsp; Süre:50 dk</h4>
            </div>
            <div class="panel-body">
                <p>Antrenmanınızı sıkı bir karın çalışmasıyla, sağlıklı bir postür duruşuna sahip olmanın tek yolu, bu bölgedeki kasların dengeli bir şekilde kuvvetlendirilmesiyle olacaktır. Egzersizin olmazsa olmazlarından germe egzersizleriyle bitirmek için bu dersimize katılmalısınız.</p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-green">
            <div class="panel-heading" style="color:#ffffff">
                <h4><i class="fa fa-fw fa-compass"></i>GRUP YÜZME &nbsp;&nbsp; Süre:50 dk</h4>
            </div>
            <div class="panel-body">
                <p>Profesyonel eğitmenler eşliğinde gruplar halinde işlenen yüzme öğretme amaçlı bir derstir. Grup yüzme eğitimlerinde serbest stil yüzme eğitimi verilir. Yetişkin yüzme eğitimlerine en az 13 yaş ve üstü üyelerimiz katılabilir.</p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading" style="color:#ffffff">
                <h4><i class="fa fa-fw fa-compass"></i>STUDİO PİLATES &nbsp; Süre:50 dk</h4>
            </div>
            <div class="panel-body">
                <p>Fiziksel uygunluk düzeyini artırmak, kasları güçlendirmek esnekliği artırmak ve genel olarak daha sağlıklı olmak için yapılan bir egzersiz sistemidir. Vücudun tüm bölümleri için egzersizler ve her çeşit aktivite için uygulamalar içerir. </p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-compass"></i>LE BOXİNG &nbsp;&nbsp; Süre:50 dk</h4>
            </div>
            <div class="panel-body">
                <p>Tekme ve yumruk kombinasyonlarından oluşan zorlu kardiyovasküler çalışmalar ve ağrılıkla kondisyon çalışmaları da içeren eğlenceli olduğu kadar da zorlu bir ders le boxing. “tam bana göre” diyorsanız bekleriz.</p>

            </div>
        </div>
    </div>
       
        <div class="row">           
            <div class="col-lg-4">
                <div class="panel panel-default">
                   
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->


