﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dreamlife Spor Merkezi</title>
    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href="/Content/css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#31708f">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"style="color:#ffffff">Dreamlife Spor Merkezi  </a>
            </div> 
                       
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-collapse" style="color:#ffffff">
                    <li>
                        @Html.ActionLink("Anasayfa", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Tesisimiz", "About", "Home")
                    </li>
                     <li>
                        @Html.ActionLink("Üyelikler", "Uyelikler", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("İletişim", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Üye Kayıt", "uyeKayit", "Home")                      
                    </li>
                    <li>
                       @Html.ActionLink("Üye Giriş", "uyeGiris", "Home") 
                    </li>                                     
                </ul>
                
                    
                <ul>
                    <div class="navbar-right">
                        <ul>
                            <a href="@Url.Action("Index","HomeController")">
                                <img style="width:30px;height:20px ;" src="@Url.Content("~/Content/image/Turkey-icon.png")  " />
                            </a>


                            <a href="@Url.Action("Index","HomeController")">
                                <img style="width:30px;height:20px ;" src="@Url.Content("~/Content/image/United-Kingdom-icon.png")" />
                            </a>
                        </ul>
                    </div>
               </ul>
 
                    <style type="text/css">
                        #search_BH {
                        }

                            #search_BH input[type="text"] {
                                background: url(https://lh6.googleusercontent.com/-UrPIk8pMX0k/UT3FSFQG0vI/AAAAAAAAHtE/wKlxbPoWoW0/s15/search-dark.png) no-repeat 10px 6px #254b68;
                                border: 0 none;
                                font: bold 12px Arial,Helvetica,Sans-serif;
                                color: #fff;
                                width: 150px;
                                padding: 6px 15px 6px 35px;
                                -webkit-border-radius: 20px;
                                -moz-border-radius: 20px;
                                border-radius: 20px;
                                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                                -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255,), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
                                -moz-box-shadow: 0 1px 0 rgba(255, 255, 255,), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
                                box-shadow: 0 1px 0 rgba(255, 255, 255,), 0 1px 3px rgb(255, 255, 255) inset;
                                -webkit-transition: all 0.7s ease 0s;
                                -moz-transition: all 0.7s ease 0s;
                                -o-transition: all 0.7s ease 0s;
                                transition: all 0.7s ease 0s;
                            }

                                #search_BH input[type="text"]:focus {
                                    width: 200px;
                                }
                    </style>

                    <div class="navbar-right">
                        <div class='widget-content' align="right" style="display:inline-block;">
                            <form method="get" action="/search" id="search_BH">
                                <input name="q" type="text" size="40" placeholder="Ara..." />
                            </form>
                        </div>
                    </div>
                </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
   
        @RenderBody() 
        <hr>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:#7B68EE;color:#ffffff">
                                <h3 class="title">Çalışma Saatleri</h3>
                            </div>
                            <div class="panel-body"  >
                                <p>
                                    <li><span>Pazar       &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;                    <b>07:00 - 24:00 </b></span></li>
                                    <li><span>Pazartesi   &nbsp;&nbsp;                                              <b>10:00 - 24:00 </b></span></li>
                                    <li><span>Salı        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <b>07:00 - 24:00 </b></span></li>
                                    <li><span>Çarşamba    &nbsp;                                                    <b>10:00 - 24:00 </b></span></li>
                                    <li><span>Perşembe    &nbsp;                                                    <b>07:00 - 24:00 </b></span></li>
                                    <li><span>Cuma        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                <b>10:00 - 24:00 </b></span></li>
                                    <li><span>Cumartesi   &nbsp;                                                    <b>07:00 - 22:00 </b></span></li>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4" >
                        <div class="panel panel-default" >
                            <div class="panel-heading"style="background-color:#483D8B;color:#ffffff">
                                <h3 class="title">İletişim </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <address class="vcard">
                                        <div class="vcard-name">Dreamlife Spor Merkezi</div>
                                        <span>Gülpınar mahallesi 188 Nolu sokak No:11 Serdivan-SAKARYA Türkiye TR </span>
                                        <br />
                                        <span>Tel: +9 0264 728 53 18 </span>
                                        <br />
                                        <span>E-mail: info@dreamlife.com</span>
                                        <br /><br />

                                    </address>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:#31708f;color:#ffffff">
                                <h3 class="title">Sosyal Medya</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <div>
                                        <a href='http://www.facebook.com'>  <img src="~/Content/image/facebook.png" style=" height:50px; width:50px;">   </a>
                                        <a href='http://twitter.com'>       <img src="~/Content/image/indir.jpg" style="height:50px; width:50px;">      </a>
                                        <a href='https://plus.google.com'>  <img src="~/Content/image/images.png" style="height:50px; width:50px;">     </a>
                                        <a href='https://instagram.com'>    <img src="~/Content/image/indir (1).jpg" style="height:50px; width:50px;">      </a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="container_12"  >
                        <nav class="grid_12 no-m-b footer-navigation">
                            <p> 
                                    <b>
                                    @Html.ActionLink("Anasayfa", "Index", "Home")       &nbsp;
                                    @Html.ActionLink("Tesisimiz", "About", "Home")      &nbsp;
                                    @Html.ActionLink("Üyelikler", "Uyelikler","Home")  &nbsp;
                                    @Html.ActionLink("İletişim", "Contact", "Home")     &nbsp;
                                    @Html.ActionLink("Üye Kayıt", "uyeKayit", "Home")     &nbsp;
                                    @Html.ActionLink("Üye Giriş", "uyeGiris", "Home")
                                         
                                </b>
                                
                             </p>
                        </nav>
                    </div>
                    <br />

                    <div class="col-lg-12">
                        <p>Copyright &copy; @DateTime.Now.Year  All Rights reserved. Dreamlife Spor Merkezi</p>
                    </div>
                </div>
                </div>
</footer>
    </div>
  
   
    <!-- /.container -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    <script>
    $('.carousel').carousel({
        interval: 5000 
    })
    </script>

  
    @RenderSection("scripts", required: false)
</body>
</html>
