﻿@model sporMerkezi1.Models.UyeKayit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>UyeKayit</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AdSoyad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TcNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TcNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DogumTarihi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DogumTarihi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefon)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EPosta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EPosta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KullaniciAdi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sifre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sifre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.YeniSifre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.YeniSifre)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
