﻿@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f" >
                İletişim               
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Anasayfa</a>
                </li>
                <li class="active">İletişim</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Dreamlife Spor Merkezi</h3>
            <p>
             <abbr title="Adress">Adres</abbr> : Gülpınar mahallesi 188 Nolu sokak <br>No:11 Serdivan-SAKARYA
            </p>
            <p>
                <i class="fa fa-phone"></i>
                <abbr title="Phone">Telefon</abbr>: +90 264) 728 53 18 
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E-mail</abbr> :<a href="mailto:info@dreamlife.com">info@dreamlife.com</a>
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <!-- Contact Form -->
    <div class="row">
        <div class="col-md-8">
            <h3>İletişim Formu</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Adınız:</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Lütfen adınızı giriniz.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Gsm Telefon:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Lütfen telefon numaranızı giriniz.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Eposta:</label>
                        <input type="email" class="form-control" id="email" required data-validation-required-message="Lütfen Eposta adresinizi giriniz.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>İleti:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message=" Lütfen mesaj giriniz." maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary">Mesaj Gönder</button>
            </form>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
