﻿@model sporMerkezi1.Areas.Admin.Models.Yorum
@{
    ViewBag.Title = "yorumIndex";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <!-- Page Heading -->
    <div class="row" style="background-color:#ffffff">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Yorum Ekle
            </h2>
        </div>
    </div>
                @using (Html.BeginForm("yorumIndex", "Yorum", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {

                    <div class="form-group" style="color:#31708f">
                        @Html.LabelFor(m => m.Tarih, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" style="color:#31708f">
                        @Html.LabelFor(m => m.Ekle, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.Ekle, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group" style="color:#31708f">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" class="btn btn-default" value="Ekle" style="background-color:#31708f;color:#ffffff" />
                        </div>
                    </div>
                }
                
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                        </div>
                    </div>
                </div>
            </div>
