﻿
@{
    ViewBag.Title = "grupIndex";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row" style="background-color:#ffffff">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Haftalık Ders Saatleri
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr style="color:#31708f">
                            <th>Gün</th>
                            <th>Saat</th>
                            <th>Ders Adı</th>
                            <th>Hoca Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td>PAZARTESİ</td>
                            <td>11:00</td>
                            <td>STUDİO PİLATES</td>
                            <td>MELTEM İNCE</td>

                        </tr>

                        <tr class="active">
                            <td></td>
                            <td>15:00</td>
                            <td>SPİNNİNG</td>
                            <td>GİZEM BULUT</td>
                        </tr>
                        <tr class="warning">
                            <td>SALI</td>
                            <td>12:00</td>
                            <td>ZUMBA</td>
                            <td>BUSE AYCAN</td>
                        </tr>
                        <tr class="warning">
                            <td></td>
                            <td>16:00</td>
                            <td>GRUP YÜZME</td>
                            <td>EZGİ ERDEM</td>
                        </tr>
                        <tr class="success">
                            <td>ÇARŞAMBA</td>
                            <td>11:00</td>
                            <td>STUDİO PİLATES</td>
                            <td>MELTEM İNCE</td>
                        </tr>
                        <tr class="success">
                            <td></td>
                            <td>15:00</td>
                            <td>SPİNNİNG</td>
                            <td>GİZEM BULUT</td>
                        </tr>
                        <tr class="danger">
                            <td>PERŞEMBE</td>
                            <td>14:00</td>
                            <td>STUDİO PİLATES</td>
                            <td>MELTEM İNCE</td>
                        </tr>
                        <tr class="danger">
                            <td></td>
                            <td>18:00</td>
                            <td>GRUP YÜZME</td>
                            <td>EZGİ ERDEM</td>
                        </tr>
                        <tr>
                            <td>CUMA</td>
                            <td>11:00</td>
                            <td>ABS%STRECH</td>
                            <td>FATMA GÜLER</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>17:00</td>
                            <td>LE BOXİNG</td>
                            <td>MELİKE TOPÇU</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <br /><br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>
        <br />
        <div class="form-group" style="color:#31708f;">
            <div class="col-lg-4">
                <input type="submit" class="btn btn-default" value="KATIL/AYRIL" style="background-color:#31708f;color:#ffffff" />
            </div>
        </div>

     
    </div>
   
   


    <div class="row">
        <div class="col-lg-1">
            <div class="panel panel-default">
            </div>
        </div>
    </div>
</div>